* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color */
html ,body {
  background-color: #DCF2E6;
  
  height: 100%;
}

.container2{
  max-width: 1280px;
  margin: 0 auto;
}


header{
font-family: Helvetica, sans-serif;
width: 100%;
height: 14vh;

background-color: #FFFFFF; /* Grey background */

font-size: 14px; /* Big font size */
font-weight: bold;
position: fixed; /* Fixed position - sit on top of the page */
top: 0;
width: 100%; /* Full width */
transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
z-index: 999;
}


header nav{
  float: right;
}

header .logo{
  margin: 10px 80px;
  float: left;
  width: 66px;
  height: 90px;

  background-image: url('../images/logo.png');

  background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
}


nav.mobile-menu{
  display: none;

}

.prev-tempo{
  position: relative;
  transform: translate(-30%, -150%);
    -ms-transform: translate(-30%, -150%);
  float: right;
  margin-top: 30px;
  margin-bottom: 3px;
}

.prev-tempo img{
  margin-left: 3px;
}


.clear{
  clear: both;
}

header nav.desktop-menu ul{
  float: right;
  list-style-type: none;
  padding: 20px 10px; /* Some padding */
}

header nav.desktop-menu li {
  float: left;
  padding: 0 10px;
}

header nav.desktop-menu li a{
  text-decoration: none;
  color: #414040;
}

header nav.desktop-menu li a:hover{
  color: #4B944D;
}

header nav.mobile-menu li a:hover{
  color: #4B944D;
}


section.espaco{
  padding: 14vh 4% 2% 4%;
  text-align: center;

}

.carrosel{
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: 3% auto;
  text-align: center;
}

.nav{
 
}

.carrosel-nav{
   max-width: 1200px;
  position: relative;
  text-align: center;
  width: 100%;
  

}

.carrosel-text h3{
   font-family: 'Gruppo', cursive;
  font-size: 32px;
  color: #4B944D;;
  text-align: left;
  margin: 2% 0%;
  padding-top: 2%;
}

.carrosel-text p{
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 2%;
    font-size: 16px;
    color: #4D4D4D;
    text-align: justify;
    line-height: 175%;
}

.carrosel img{

width: 100%;
 

    display: inline;
    max-width: 554px;
    height: auto;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
    border: 8px solid white;
}

.carrosel-nav img{
    display: inline;
    width: 70%;
    height: auto;
    margin-bottom:20px;
    border: 8px solid white;

}






footer{
   
    width: 100%;
    text-align: center;
  background-color: #192123;
  padding: 1% 0 20px 0;
  color: white;
}

footer p {
  font-weight: 300;
  font-size: 12px;
}

.rodape-wrapper{
  width: 100%;
  text-align: center;
  
}

.rodape-left p{
  

  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 2%;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 125%;
  padding-left: 8%;
  padding-right: 8%;
  
}

.rodape-right p{
  

  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 2%;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 125%;
  padding-left: 8%;
  padding-right: 8%;
  
}


.rodape-left{
  /*background-color: red;*/
  width: 50%;
  float: right;
  padding-bottom: 2%;
  padding-top: 2%;
}

.rodape-right{
  /*background-color: blue;*/
  width: 50%;
  float: left;
  padding-bottom: 2%;
  padding-top: 2%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media screen and (max-width: 822px){
  header{
   
  }

  nav.mobile-menu{
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    margin: 20px;
    background-image: url('../images/menu-black.png');
    background-size: 100% 100%;
  }
  
  /*
  nav.mobile-menu:hover ul{
    opacity: 1;
  }
  */

  nav.mobile-menu ul{
    display: none;
    /*transition: 1s;*/
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    list-style-type: none;
    text-align: center;
  }

  nav.mobile-menu ul li{
    padding:4px 0;
    transition: 0.4s;
  }

  nav.mobile-menu ul li:hover{
    background-color: rgb(230, 230, 230);
  }

  nav.mobile-menu ul li a{
    text-decoration: none;
    color: black;
  }

  section.secao-1{
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  nav.desktop-menu{
    display: none;
  }

  .prev-tempo{
    display: none;
  }

  .rodape-left{
  /*background-color: red;*/
    width: 100%;
  }

  .rodape-right{
  /*background-color: red;*/
    width: 100%;
  }
}