* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color */
html ,body {
  background-color: #DCF2E6;
  
  height: 100%;
}

.container2{
  max-width: 1280px;
  margin: 0 auto;
}


header{
font-family: Helvetica, sans-serif;
width: 100%;
height: 14vh;

background-color: #FFFFFF; /* Grey background */

font-size: 14px; /* Big font size */
font-weight: bold;
position: fixed; /* Fixed position - sit on top of the page */
top: 0;
width: 100%; /* Full width */
transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
z-index: 999;
}


header nav{
  float: right;
}

header .logo{
  margin: 10px 80px;
  float: left;
  width: 66px;
  height: 90px;

  background-image: url('../images/logo.png');

  background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
}


nav.mobile-menu{
  display: none;

}

.prev-tempo{
  position: relative;
  transform: translate(-30%, -150%);
    -ms-transform: translate(-30%, -150%);
  float: right;
  margin-top: 30px;
  margin-bottom: 3px;
}

.prev-tempo img{
  margin-left: 3px;
}


.clear{
  clear: both;
}

header nav.desktop-menu ul{
  float: right;
  list-style-type: none;
  padding: 20px 10px; /* Some padding */
}

header nav.desktop-menu li {
  float: left;
  padding: 0 10px;
}

header nav.desktop-menu li a{
  text-decoration: none;
  color: #414040;
}

header nav.desktop-menu li a:hover{
  color: #4B944D;
}

header nav.mobile-menu li a:hover{
  color: #4B944D;
}

.clube-text h3{
   font-family: 'Gruppo', cursive;
  font-size: 32px;
  color: #4B944D;;
  text-align: left;
  margin: 2% 0%;
  padding: 4%;
}

.clube-text p{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 4%;
    font-size: 16px;
    color: #4D4D4D;
    text-align: justify;
    line-height: 175%;
}



section.section-timeline{
  padding: 14vh 0 0 0;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  
  position: relative;
  max-width: 1200px;
  margin: 3% auto;
}

.content img{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 4%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.content h2{
  font-size: 20px;
  color: #f86f00;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4%;
}

.content p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #4D4D4D;
    text-align: justify;
    line-height: 175%;
}


/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
section.section-timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
section.section-timeline .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #4B944D;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  text-align: center;
  width: 100%;
}

footer{
   
    width: 100%;
    text-align: center;
  background-color: #192123;
  padding: 10px 0 10px 0;
  color: white;
}

.rodape-wrapper{
  width: 100%;
  text-align: center;
  
}

.rodape-left p{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 200%;
  
  
}

.rodape-right a{

  padding-right: 15px;
  
}


.rodape-left{
  /*background-color: red;*/
  width: 100%;
  float: left;
  padding-bottom: 30px;
  
}

.rodape-right{
  /*background-color: blue;*/
  width: 100%;
  float: right;
  padding: 30px 0 30px 0;

  
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

section.section-timeline .container {
  width: 100%;
}

}

@media screen and (max-width: 822px){
  header{
   
  }

  nav.mobile-menu{
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    margin: 20px;
    background-image: url('../images/menu-black.png');
    background-size: 100% 100%;
  }
  
  /*
  nav.mobile-menu:hover ul{
    opacity: 1;
  }
  */

  .container .left{
      width: 100%;
  }

  nav.mobile-menu ul{
    display: none;
    /*transition: 1s;*/
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    list-style-type: none;
    text-align: center;
  }

  nav.mobile-menu ul li{
    padding:4px 0;
    transition: 0.4s;
  }

  nav.mobile-menu ul li:hover{
    background-color: rgb(230, 230, 230);
  }

  nav.mobile-menu ul li a{
    text-decoration: none;
    color: black;
  }

  section.secao-1{
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  nav.desktop-menu{
    display: none;
  }

  .prev-tempo{
    display: none;
  }



}